@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Euclid;
    src: url(../src/font/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: Euclid-bold;
    src: url(../src/font/Euclid\ Circular\ A\ Bold.ttf);
}

@font-face {
    font-family: Euclid-medium;
    src: url(../src/font/Euclid\ Circular\ A\ Medium.ttf);
}

html{
    scroll-behavior: smooth;
}
html,
.cust {
    cursor: url('src/images/cur.svg') 0 0, auto;
}


body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    z-index: 0;
    /* background-image: url(src/images/download2.svg); */
    background-image: url(src/images/download.svg);
    background-color: rgba(0, 0, 0, 0.04);
    /* Adjust opacity as needed */
    /* mask-image: linear-gradient(transparent,10%, black); */
}



.foreground {
    position: relative;
    top: 100px;
    opacity: 0.8;
}



.euclid {
    font-family: Euclid;
}

.euclid-bold {
    font-family: Euclid-bold;
}

.euclid-medium {
    font-family: Euclid-medium;
}


html {
    font-family: Euclid;
}

.navi ul li {
    color: #0b0f66;
}

.navi ul li:hover {
    color: #7376a4;
    cursor: pointer;
}


.right-0 {
    right: 0;
}

/* Define transition for the navbar */
.transition-navbar {
    transition: right 0.3s ease;
    /* Adjust the duration and timing function as needed */
}